.box,
.contact {
  position: relative;
  display: block;
  padding: 80px 0 20px;
}
.location_single,
.contact_single {
  position: relative;
  display: block;
  padding: 0 50px 40px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;

  h2 {
    font-size: 1.875rem;
    color: var(--thm-black);
    font-weight: 700;
    margin: 0;
    margin-bottom: 16px;
    text-transform: uppercase;
  }
  p {
    color: #7c7c82;
    margin: 0;
  }
  a {
    color: #7c7c82;
    font-size: 1.125rem;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
  }
  a:hover {
    color: var(--thm-primary);
  }
  .contact_icon {
    margin-right: 10px;
    color: var(--thm-primary);
  }
}

.input_box {
  input[type="text"],
  input[type="tel"],
  input[type="email"] {
    height: 60px;
    width: 100%;
    border: none;
    background: #f5f0e9;
    padding: 0 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    font-size: 1.125rem;
    color: #636363;
  }

  textarea {
    font-size: 1.125rem;
    color: #636363;
    height: 170px;
    width: 100%;
    background: #f5f0e9;
    padding: 20px;
    border: none;
    border-radius: 10px;
    outline: none;
    margin-bottom: 10px;
  }

  input::-webkit-input-placeholder {
    color: #747673;
    opacity: 0.8;
  }
  textarea::-webkit-input-placeholder {
    color: #747673;
    opacity: 0.8;
  }

  input::-moz-placeholder {
    color: #747673;
    opacity: 0.8;
  }

  textarea::-moz-placeholder {
    color: #747673;
    opacity: 0.8;
  }

  input:-ms-input-placeholder {
    color: #747673;
    opacity: 0.8;
  }

  textarea:-ms-input-placeholder {
    color: #747673;
    opacity: 0.8;
  }

  input:-moz-placeholder {
    color: #747673;
    opacity: 0.8;
  }

  textarea:-moz-placeholder {
    color: #747673;
    opacity: 0.8;
  }
}

.contact_single {
  padding-top: 20px;
}
.google_map {
  width: 100%;
  border: none;
  outline: none;
  display: block;
  height: 560px;
  z-index: 10;
}

@media only screen and (max-width: 767px) {
  .box {
    padding: 50px 0 0;
  }
  .location_single {
    padding: 0 0 40px;
  }

  .contact {
    padding: 50px 0 0;
  }
  .contact_single {
    padding: 20px 0 40px;
  }
}
