@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/*reset css*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-weight: 300;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

/*main*/
body {
  font-family: "Roboto Condensed", sans-serif;
  background: url("../../static/img/bg/bg-body.webp") no-repeat;
}
h3 {
  font-size: 40px;
  line-height: 1.775;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.28em;
  color: #000000;
  padding-bottom: 18px;
}
h5 {
  font-size: 24px;
  line-height: 1.83;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.28em;
  margin-bottom: 24px;
}
h6 {
  font-size: 18px;
  line-height: 1.83;
  font-family: "Oswald", sans-serif;
  letter-spacing: 0.28em;
  margin-bottom: 24px;
}
button {
  font-family: "Oswald", sans-serif;
}
