/*site-container*/
.site-container {
  max-width: 1220px;
  padding: 0px 25px;
}

/*post-container*/
.post-container {
  padding: 0px 0px 60px 0px;
  margin: 0px 0px 60px 0px;
  border-bottom: solid 1px #bbbbbb;
  word-wrap: break-word;
}

/*about-me-header*/
.about-me-header {
  background-color: #333333;
  height: 220px;
  margin: 0px 0px 54px;
  width: 100%;
}

/*media-queries*/
@media screen and (max-width: 1199px) {
  .site-container {
    max-width: 950px;
  }
}

@media screen and (max-width: 989px) {
  .site-container {
    max-width: 750px;
  }
  .about-me-header {
    height: 280px;
  }
}

@media screen and (max-width: 767px) {
  .site-container {
    max-width: 590px;
  }
  .about-me-header {
    height: 240px;
  }
}

@media screen and (max-width: 479px) {
  .site-container {
    max-width: 420px;
  }
}

@media screen and (max-width: 389px) {
  .site-container {
    max-width: 350px;
  }
}
