.header {
  padding: 60px 0px 30px 0px;
  position: absolute;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Oswald", sans-serif;
  min-width: 1170px;
  flex-direction: row;
  .logo {
    max-width: 169px;
  }
  .menu-container {
    .site-navigation {
      > ul {
        > li {
          .sub-menu.localization-menu {
            left: -60px;
          }
        }
      }
    }
  }
}

/*media-queries*/
@media screen and (max-width: 1199px) {
  .header {
    min-width: 900px;
    .menu-container {
      .site-navigation {
        > ul {
          > li {
            .sub-menu.localization-menu {
              left: -180px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 989px) {
  .header {
    min-width: 700px;
    flex-direction: column;
    .menu-container {
      margin-top: 75px;
      .site-navigation {
        > ul {
          > li {
            .sub-menu.localization-menu {
              left: -180px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 925px) {
  .header {
    .menu-container {
      .site-navigation {
        > ul {
          padding: 5px 0 5px 0;
          > li {
            margin: 0 10px 0 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .header {
    min-width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    .logo {
      margin-top: 45px;
    }
    .menu-container {
      .menu-icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 23px;
        height: 16px;
        cursor: pointer;
        top: -240px;
        left: -240px;
      }
      .menu-icon span,
      .menu-icon::before,
      .menu-icon::after {
        position: absolute;
        left: 0px;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease;
        background-color: #000000;
      }
      .menu-icon::before,
      .menu-icon::after {
        content: "";
      }
      .menu-icon::before {
        top: 0px;
      }
      .menu-icon::after {
        bottom: 0px;
      }
      .menu-icon span {
        top: 50%;
        transform: scale(1) translateY(-50%);
      }
      .menu-icon.active-icon span {
        transform: scale(0);
      }
      .menu-icon.active-icon::before {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }
      .menu-icon.active-icon::after {
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
      .site-navigation {
        margin-top: 60px;
        position: absolute;
        top: 0px;
        left: -100%;
        padding: 32px 25px;
        width: 100%;
        height: 700%;
        background-color: white;
        letter-spacing: 0.2em;
        overflow: auto;
        transition: left 0.4s ease;
        > ul {
          > li {
            padding: 32px 0px 0px 0px;
            .site-link {
              color: #e49c9f;
              font-size: 17px;
              .more-then-black {
                width: 18px;
                position: absolute;
                right: 25px;
                transform: rotate(0deg);
                transition: all 0.4s ease;
              }
            }
            .sub-menu {
              display: none;
              > li {
                padding: 32px 0px 32px 10px;
                color: #e49c9f;
                font-size: 13px;
                .site-sub-link {
                  transition: all 0.4s ease;
                  .sub-more-then-black {
                    width: 18px;
                    position: absolute;
                    right: 25px;
                    transform: rotate(0deg);
                    transition: all 0.4s ease;
                  }
                }
                .site-sub-link:hover {
                  color: #000000;
                }
              }
              > li:last-child {
                padding-top: 0px;
              }
              li.active-link
                .site-sub-link
                .sub-more-then-container
                > .sub-more-then-black {
                transform: rotate(180deg);
              }
              li.active-link .sub-sub-menu {
                display: block;
              }
              .blog-middle-li {
                padding-top: 0px;
              }
              .blog-bottom-li {
                padding-bottom: 0px;
              }
              .middle-li {
                padding-top: 0px;
              }
              .bottom-li {
                padding-bottom: 0px;
              }
              .sub-sub-menu {
                display: none;
                > li {
                  padding: 32px 0px 0px 10px;
                }
                > li:last-child {
                  padding-bottom: 0px;
                }
              }
            }
            .site-sub-sub-link {
              padding: 0px 0px 0px 20px;
              transition: all 0.4s ease;
            }
            .site-sub-sub-link:hover {
              color: #000000;
            }
          }
          li.active-link .site-link .more-then-black {
            transform: rotate(180deg);
          }
          li.active-link .sub-menu {
            display: block;
          }
        }
      }
      .site-navigation.active-navigation {
        left: 0px;
      }
    }
    .menu-container::before {
      content: "";
      position: fixed;
      width: 100%;
      top: 0px;
      left: 0px;
      height: 60px;
      box-shadow: 0px 3px 2px 0px rgba(34, 60, 80, 0.3);
      background-color: #ffffff;
      z-index: 5;
    }
  }
}

@media screen and (max-width: 555px) {
  .header {
    .menu-container {
      .menu-icon {
        left: -200px;
      }
    }
  }
}

@media screen and (max-width: 455px) {
  .header {
    .menu-container {
      .menu-icon {
        left: -150px;
      }
    }
  }
}

@media screen and (max-width: 355px) {
  .header {
    .menu-container {
      .menu-icon {
        left: -120px;
      }
    }
  }
}

@media screen and (max-width: 305px) {
  .header {
    .menu-container {
      .menu-icon {
        left: -100px;
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .header {
    .menu-container {
      .menu-icon {
        display: none;
      }
      .site-navigation {
        line-height: 1.89;
        letter-spacing: 0.2em;
        > ul {
          padding: 5px 0 5px 0;
          > li {
            margin: 0 18px 0 18px;
            position: relative;
            .current-page {
              color: #e49c9f;
            }
            .solo-link {
              position: relative;
            }
            .site-link {
              transition: all 0.25s ease;
              .more-then-container {
                position: relative;
              }
              .more-then {
                width: 9px;
                height: auto;
                margin-left: 3px;
                transition: all 0.4s ease;
                filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
                  brightness(103%) contrast(103%);
              }
            }
            .site-link.solo-link::after {
              background-color: #ffffff;
              display: block;
              content: "";
              height: 1px;
              width: 0%;
              left: 50%;
              position: absolute;
              -webkit-transition: width 0.25s ease-in-out;
              -moz--transition: width 0.25s ease-in-out;
              transition: width 0.25s ease-in-out;
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              transform: translateX(-50%);
            }
            .site-link.solo-link:hover::after,
            .site-link.solo-link:focus::after {
              width: 120%;
            }
            .sub-menu {
              position: absolute;
              left: -40px;
              padding-top: 20px;
              opacity: 0;
              visibility: hidden;
              width: 175px;
              font-size: 13px;
              letter-spacing: 0.2em;
              pointer-events: none;
              transition: all 0.4s ease;
              > li {
                padding: 5px 0 5px 15px;
                .site-sub-link {
                  color: #222222;
                  position: relative;
                  text-transform: uppercase;
                  text-decoration: none;
                  transition: all 0.4s ease;
                  .sub-more-then-container {
                    position: relative;
                    margin-left: auto;
                    margin-right: 15px;
                  }
                  .sub-more-then {
                    width: 9px;
                    height: auto;
                    margin-top: 10px;
                    transform: rotate(270deg);
                    transition: all 0.4s ease;
                    filter: invert(67%) sepia(48%) saturate(395%)
                      hue-rotate(309deg) brightness(102%) contrast(79%);
                    right: 0;
                  }
                  .localization-image {
                    height: 16px;
                  }
                }
                .site-sub-link::after {
                  display: block;
                  position: absolute;
                  left: 30px;
                  top: 20px;
                  width: 0px;
                  height: 1px;
                  background-color: #222222;
                  content: "";
                  transition: all 0.3s ease;
                }
                .site-sub-link:hover::after,
                .site-sub-link:focus::after {
                  width: 60%;
                }
                .current-sub-link {
                  color: #000000;
                }
                .site-sub-link:hover .sub-more-then {
                  filter: none;
                }
              }
              .top-li {
                padding-top: 15px;
              }
              .bottom-li {
                padding-bottom: 15px;
              }
              .sub-sub-menu {
                position: absolute;
                left: 100.5%;
                top: 0;
                margin-top: 100px;
                opacity: 0;
                visibility: hidden;
                width: 220px;
                font-size: 13px;
                letter-spacing: 0.2em;
                pointer-events: none;
                transition: all 0.4s ease;
                > li {
                  padding: 4px 0 4px 35px;
                }
                .top-li {
                  padding-top: 27px;
                }
                .bottom-li {
                  padding-bottom: 27px;
                }
              }
            }
            .site-sub-sub-link {
              color: #e49c9f;
              transition: all 0.4s ease;
            }
            .home-top-li:hover .sub-sub-menu {
              margin-top: 30px;
              opacity: 1;
              visibility: visible;
              pointer-events: all;
              z-index: 5;
            }
            .home-bottom-li:hover .sub-sub-menu {
              margin-top: 60px;
              opacity: 1;
              visibility: visible;
              pointer-events: all;
              z-index: 5;
            }
            .blog-top-li:hover .sub-sub-menu {
              margin-top: 30px;
              opacity: 1;
              visibility: visible;
              pointer-events: all;
              z-index: 5;
            }
            .blog-middle-li:hover .sub-sub-menu {
              margin-top: 60px;
              opacity: 1;
              visibility: visible;
              pointer-events: all;
              z-index: 5;
            }
            .blog-bottom-li:hover .sub-sub-menu {
              margin-top: 90px;
              opacity: 1;
              visibility: visible;
              pointer-events: all;
              z-index: 5;
            }
          }
          > li:hover .sub-menu {
            opacity: 1;
            visibility: visible;
            pointer-events: all;
          }
        }
      }
    }
  }
}
