.page_header {
  position: relative;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-image: url(/img/header-bg.jpg);
  overflow: hidden;
  // padding: 105px 0 0px;
  background-size: cover;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--thm-black);
    opacity: 0.3;
  }
  .page_container {
    position: relative;
    text-align: center;
    // display: table;
  }
  h1 {
    color: #ffffff;
    font-size: 4rem;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    // display: table-cell;
    // vertical-align: middle;
    // padding-bottom: 56px;
  }
}

// .header {
//   background-color: #d3d3d3;
//   h1 {
//     color: #ffffff;
//     font-size: 4rem;
//     font-weight: 700;
//     margin: 0;
//     text-transform: uppercase;
//     // padding-bottom: 56px;
//   }
// }

// .artDirected {
//   height: 300px;

//   &::after {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: var(--thm-black);
//     opacity: 0.3;
//   }

//   div,
//   img {
//     transition: none !important;
//   }
// }

.main_logo {
  max-height: 110px;
}

.site_header {
  position: relative;
  left: 0px;
  top: 0px;
  width: 100%;
  z-index: 999;
  transition: all 500ms ease;
}
.topbar {
  position: relative;
  display: block;
  background: transparent;

  .container_box {
    position: relative;
  }
}

.topbar_content {
  position: relative;
}

.logo_box {
  position: relative;
  display: block;
  max-width: 345px;
  width: 100%;
  text-align: center;
  background: transparent;
  padding: 7px 0;

  a {
    position: relative;
    display: inline-block;
  }
}

.topbar_nav_box {
  position: relative;
  display: block;
  max-width: 1140px;
  width: 100%;
}

.main_nav_header {
  position: relative;
  display: block;
  padding-left: 30px;
}

.main_nav_box {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;

  & > li {
    position: relative;
    padding: 43px 0px 43px;

    a {
      position: relative;
      display: inline-block;
      padding: 0px 20px;
      border-radius: 5px;
      color: #747673;
      font-size: 1.125rem;
      line-height: 40px;
      font-weight: 500;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
      z-index: 1;

      &:before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 7px;
        background: var(--thm-base);
        content: "";
        transform: scaleX(0.5);
        opacity: 0;
        transition: all 500ms ease;
        z-index: -1;
      }
    }
  }

  & > li + li {
    margin-left: 35px;
  }

  & > li:hover > a,
  & > li.current > a,
  & > li.current-menu-item > a {
    color: var(--thm-black);
  }

  & > li:hover > a:before,
  & > li.current > a:before,
  & > li.current-menu-item > a:before {
    opacity: 1;
    transform: scaleX(1);
  }
}

.topbar_right_box {
  position: relative;
  float: right;
  display: inline-flex;
  align-items: center;
  padding: 35px 30px 35px 15px;
}

@media only screen and (min-width: 1500px) and (max-width: 1900px) {
  .logo_box {
    max-width: 160px;
  }
  .topbar_nav_box {
    max-width: 980px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1499px) {
  .logo_box {
    max-width: 160px;
  }
  .topbar_nav_box {
    max-width: 850px;
  }
  .main_nav_box > li + li {
    margin-left: 1px;
  }
}

@media (min-width: 1200px) {
  .main_nav {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }
}

@media (max-width: 1199px) {
  .logo_box {
    max-width: 160px;
    padding: 7px 0;
  }
  .topbar_nav_box {
    display: none;
  }
  .main_nav_header {
    padding-left: 0;
  }
  .main_nav {
    display: none;
  }
  .topbar_right_box {
    padding: 35px 15px 35px 15px;
  }
}

@media (max-width: 767px) {
  .logo_box {
    max-width: 100px;
    padding: 7px 0;
  }
  // .topbar_nav_box {
  //   display: none;
  // }
  // .main_nav_header {
  //   padding-left: 0;
  // }
  // .main_nav {
  //   display: none;
  // }
  .topbar_right_box {
    padding: 15px;
  }
  .main_logo {
    max-height: 70px;
    width: auto;
    height: 70px;
  }
}

@media screen and (max-width: 640px) {
  .page_header {
    background-image: url(/img/header-bg-small.jpg);
  }
}

@media screen and (max-width: 425px) {
  .artDirected {
    width: 100% !important;
  }
}
