/*latest-posts*/
.latest-posts-block {
  .latest-posts-block-content {
    margin: 30px 17px 0px 0px;
    padding-bottom: 50px;
    h5 {
      font-size: 24px;
      line-height: 1.83;
      font-family: "Oswald", sans-serif;
      letter-spacing: 0.28em;
      margin-bottom: 24px;
    }
    ul {
      li {
        margin-bottom: 20px;
        a {
          font-family: "Oswald";
          font-size: 0.875rem;
          line-height: 1.714285;
          letter-spacing: 0.28em;
          transition: all 0.3s ease;
        }
        a:hover {
          color: #e49c9f;
        }
        span {
          font-family: "Roboto Condensed";
          font-size: 12px;
          line-height: 1.714285;
          letter-spacing: 0.2em;
          color: #333333;
          margin-top: 6px;
        }
      }
    }
  }
}