.box {
  position: relative;
  display: block;
  background: var(--thm-black);
  padding: 114px 0 98px;
}

.bgImage {
  position: absolute;
  bottom: -22%;
  right: -1%;
  opacity: 0.07;
}

.widgetTitle {
  position: relative;
  display: block;
  margin-bottom: 36px;

  h3 {
    color: #ffffff;
    font-size: 1.875rem;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;
  }

  &:before {
    position: absolute;
    bottom: -8px;
    left: 0;
    height: 4px;
    width: 20px;
    background: var(--thm-base);
    content: "";
    border-radius: 5px;
  }
}

.widgetContactBox {
  padding-left: 50px;
}

.widgetContact {
  p {
    color: #c5c9c4;
    font-size: 1.125rem;
    margin: 0;
    margin-bottom: 14px;
  }
  a {
    color: var(--thm-base);
    font-size: 1.125rem;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;

    &:hover {
      color: var(--thm-primary);
    }
  }
}

.widgetLinks {
  padding-left: 0;
  list-style: none;

  li a {
    position: relative;
    color: #c5c9c4;
    font-size: 1.125rem;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;

    &:hover {
      padding-left: 15px;
      color: var(--thm-base);
      &::before {
        opacity: 1;
      }
    }
    &::before {
      content: ">>";
      font-weight: 700;
      position: absolute;
      // top: 50%;
      top: 0.7rem;
      left: 0;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-size: 0.875rem;
      color: var(--thm-base);
      opacity: 0;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;
    }
  }
}

.widgetSocial {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 19px;

  a {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    text-align: center;
    width: 45px;
    height: 45px;
    background-color: #fff;
    color: var(--thm-black);
    font-size: 1.125rem;
    border-radius: 50%;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;

    &.hover {
      background-color: #ebd954;
      color: #ffffff;
    }
  }

  a + a {
    margin-left: 10px;
  }
}

.bottomBox {
  position: relative;
  display: block;
  padding: 28px 0 29px;
  background: #394336;

  .copyright {
    span {
      color: #c5c9c4;
      font-size: 1rem;
      margin: 0 10px 0 0;
      display: inline-block;
    }
    .hypersoft {
      float: right;
    }
    a {
      color: #c5c9c4;
      font-size: 1rem;
      -webkit-transition: all 500ms ease;
      transition: all 500ms ease;

      &:hover {
        color: var(--thm-base);
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .widgetContactBox {
    padding-left: 0;
  }
}

@media only screen and (max-width: 767px) {
  .bottomBox {
    text-align: center !important;

    .copyright {
      span {
        display: block;
        width: 100%;
      }
      .hypersoft {
        float: none;
      }
    }
  }
  .box {
    padding: 58px 0;
  }
  .widgetColumn {
    margin-bottom: 40px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}
