/*footer*/
.footer {
  .footer-content {
    position: relative;
    .footer-header {
      font-size: 24px;
      line-height: 1.83;
      font-family: "Oswald", sans-serif;
      letter-spacing: 0.28em;
      margin-bottom: 36px;
      max-width: 735px;
    }
    .email-container {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      .input-box {
        position: relative;
        .email-img {
          position: absolute;
          width: 24px;
          height: auto;
          margin-top: 24px;
          margin-left: 24px;
        }
        .email-input {
          background-color: #f8f8f8;
          border: solid 1px #f8f8f8;
          padding: 20.5px 20px 20.5px 60px;
          min-width: 295px;
          margin: 5px;
          font-family: "Roboto Condensed";
          letter-spacing: 0.2em;
          font-size: 12px;
          color: #333333;
          line-height: 1.4167;
          transition: all 0.3s ease;
        }
        .email-input:focus {
          background-color: #ffffff;
        }
      }
      .email-button {
        padding: 20px 49px;
        margin: 5px;
        font-family: "Oswald";
        font-size: 17.6px;
        letter-spacing: 0.72px;
        border: solid 1px #e49c9f;
        color: #e49c9f;
        border-radius: 4px;
        transition: all 0.3s ease;
      }
      .email-button:hover {
        border: solid 1px #000000;
        background: #000000;
        color: #ffffff;
      }
    }
    .social-networks-content {
      position: relative;
      margin: 170px auto 0px auto;
      max-width: 260px;
      .social-networks {
        li {
          position: relative;
          a {
            .grey-link {
              height: 18px;
              width: auto;
              position: absolute;
              left: 0px;
              transition: all 0.3s ease;
              margin: 5px 11px;
            }
            .grey-link:hover {
              opacity: 0;
            }
            .pink-link {
              height: 18px;
              width: auto;
              margin: 5px 11px;
            }
          }
        }
      }
    }
    .copyright {
      margin: 50px 0px;
      font-family: "Roboto Condensed";
      font-size: 12px;
      letter-spacing: 0.2em;
    }
  }
}
