.box {
  position: relative;
  width: 100%;
}

.table {
  width: 100%;

  tbody {
    // border-top: 1px solid #f5f0e9;

    tr:nth-child(odd) {
      background: #f7f7f7;
    }

    td {
      padding: 8px;
      font-size: 1rem;
    }

    .tdTitle {
      color: var(--thm-black);
    }

    .tdPrice {
      color: #747673;
      text-align: right;
    }
  }
}

// .table_head {
//   position: relative;
//   width: 100%;
//   border-bottom: 1px solid #f5f0e9;
//   border-top: 1px solid #f5f0e9;

//   th {
//     font-size: 1.125rem;
//     color: var(--thm-black);
//     font-weight: 500;
//     margin: 0;
//     padding: 21px 0 22px;
//   }
// }

@media only screen and (max-width: 767px) {
  .box {
    margin-bottom: 30px;
  }
}
