/*post*/
.post {
  width: 100%;
  margin: 0;
  padding: 0;
  .post-content {
    position: relative;
    overflow: hidden;
    .post-meta {
      width: 100%;
      position: absolute;
      background: linear-gradient(
        0deg,
        rgba(119, 85, 129, 0.5) 55%,
        rgba(255, 255, 255, 0) 100%
      );
      bottom: -120px;
      padding: 40px 0 30px 20px;
      div > p {
        font-size: 12px;
        letter-spacing: 0.2em;
        margin-bottom: 30px;
        margin-right: 7px;
      }
      div > span {
        font-size: 12px;
        letter-spacing: 0.2em;
        margin-right: 7px;
      }
      .entry-p {
        font-family: "Roboto";
        font-size: 18px;
        line-height: 1.89;
        transform: scale(0);
        visibility: hidden;
        padding-top: 30px;
      }
      .entry-button {
        transform: scale(0);
        font-size: 0.75em;
        letter-spacing: 0.72px;
        padding-top: 15px;
        .entry-icon {
          margin-top: 3px;
          width: 14px;
          height: auto;
          margin-left: 5px;
          filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(146deg)
            brightness(107%) contrast(101%);
          transition: all 0.4s ease;
        }
      }
    }
    .post-img {
      width: 100%;
      height: auto;
    }
  }
}

/*media-queries*/
@media screen and (max-width: 1199px) {
  .post {
    .post-content {
      .post-meta {
        bottom: -100px;
        h5 {
          font-size: 24px;
        }
        .entry-p {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  .post {
    .post-content {
      .post-meta {
        bottom: -80px;
        h5 {
          font-size: 24px;
        }
        .entry-p {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 989px) {
  .post {
    .post-content {
      .post-meta {
        bottom: -120px;
        h5 {
          font-size: 24px;
        }
        .entry-p {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .post {
    .post-content {
      .post-meta {
        width: 100%;
        position: absolute;
        bottom: 0px;
        padding: 40px 0 30px 20px;
        transition: none;
        div > p {
          margin-bottom: 10px;
        }
        .entry-p {
          display: none;
        }
        .entry-button {
          transform: scale(1);
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .post {
    margin: 30px 0px 0px 0px;
    .post-content {
      .post-meta {
        h5 {
          font-size: 18px;
        }
      }
    }
  }
}

@media screen and (max-width: 369px) {
  .post {
    .post-content {
      .post-meta {
        padding: 15px;
      }
    }
  }
}

@media screen and (max-width: 319px) {
  .post {
    .post-content {
      .post-meta {
        padding: 5px;
        h5 {
          margin-bottom: 5px;
          font-size: 16px;
        }
        .entry-button {
          padding-top: 5px;
          font-size: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 767px) {
  .post {
    .post-content {
      .post-meta {
        transition: all 0.15s ease;
        h5:hover {
          text-decoration: underline;
        }
        div > p:hover {
          text-decoration: underline;
        }
        .entry-button:hover .entry-icon {
          margin-left: 10px;
        }
        .post-meta:hover {
          bottom: 0px;
        }
        .post-meta:hover .entry-p {
          transform: scale(1);
          visibility: visible;
        }
        .post-meta:hover .entry-button {
          transform: scale(1);
        }
      }
    }
  }
}
